@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">What's the Weather?</h1>
    <p>Get the latest weather forecast for your upcoming race...</p>
</div>

<div>
    <div class="container-fluid d-flex justify-content-center p-4">
        <div class="card">
            <h6 class="card-header">@Model.RaceName, @Model.RaceYear</h6>
            <div class="card-body">
                <p class="card-text">@Model.Start</p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center p-2">
        <div class="card">
            <h6 class="card-header">Current Trend</h6>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>Name (km)</b></td>
                            <td><b>Weather</b></td>
                            <td><b>Predictability [%]</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kvp in Model.Forecast)
                        {
                            <tr style="vertical-align: middle;">
                                <td>@kvp.Key (@kvp.Value.Km)</td>
                                @{
                                    var img = Url.Content($"~/images/meteoblue/{@kvp.Value.Data.Pictocode:D2}_iday.png");
                                    <td><img src="@img" style="width: 3rem;"></td>
                                }
                                <td>@kvp.Value.Data.Predictability</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>