@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var temp_icon = Url.Content($"~/images/flaticon/celsius.png");
    var rain_icon = Url.Content($"~/images/flaticon/rain.png");
    var wind_icon = Url.Content($"~/images/flaticon/wind.png");
    var sock_icon = Url.Content($"~/images/flaticon/windsock.png");

    var dirMap = new List<string>{"N","NNE","NE","ENE","E","ESE","SE","SSE","S","SSW","SW","WSW","W","WNW","NW","NNW"};
    string int2dir(double x)
    {
        var index = (int)Math.Floor(((x + 11.25) % 360) / 22.5);
        return dirMap[index];
    }
}

<div class="text-center">
    <h1 class="display-4">What's the Weather?</h1>
    <h5 class="lead">Get the latest weather forecast for your upcoming race...</h5>
</div>

<div>
    <div class="container-fluid d-flex justify-content-center p-4 fon">
        <div class="card">
            <h5 class="card-header">@Model.RaceName, @Model.RaceYear</h5>
            <div class="card-body">
                <p class="card-text">Starting at: <i>@Model.Race.Start</i></p>
                <p class="card-text">Target Race Duration: <i>@Model.RaceDuration</i></p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center p-2">
        <div class="card">
            <h5 class="card-header">Current Trend</h5>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr style="vertical-align: middle;">
                            <td><b>Time</b></td>
                            <td><b>km</b></td>
                            <td><b>Name</b></td>
                            <td></td>
                            <td><img src="@temp_icon" style="width: 3rem;"><br>[°C]</td>
                            <td><img src="@rain_icon" style="width: 3rem;"><br>[mm]</td>
                            <td><img src="@wind_icon" style="width: 3rem;"><br>[km/h]</td>
                            <td><img src="@sock_icon" style="width: 3rem;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kvp in Model.Rows)
                        {
                            <tr style="vertical-align: middle;">
                                <td>@kvp.Value.Time.TimeOfDay.ToString("hh\\:mm")</td>
                                <td>@kvp.Value.Km</td>
                                <td>@kvp.Key</td>
                                @{
                                    var img = Url.Content($"~/images/meteoblue/{@kvp.Value.Data.PictoCode:D2}_day.png");
                                    var temp = Math.Round(@kvp.Value.Data.Temperature, 0);
                                    var temp95 = Math.Round(@kvp.Value.Data.TemperatureSpread*2, 1);
                                    var prec = Math.Round(@kvp.Value.Data.Precipitation, 0);
                                    var prec95 = Math.Round(@kvp.Value.Data.PrecipitationSpread*2, 1);
                                    var wind = Math.Round(@kvp.Value.Data.Windspeed*3.6, 0);
                                    var wind95 = Math.Round(@kvp.Value.Data.WindspeedSpread*3.6*2, 1);
                                }
                                <td><img src="@img" style="width: 3rem;"></td>
                                <td>@temp (@temp95)</td>
                                <td>@prec (@prec95)</td>
                                <td>@wind (@wind95)</td>
                                <td>@int2dir(@kvp.Value.Data.WindDirection)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>