@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var qualityColorMap = new Dictionary<int, string>()
    {
        {1, "Red"},
        {2, "Orange"},
        {3, "Yellow"},
        {4, "LimeGreen"},
        {5, "ForestGreen"},
    };
}

<div class="text-center">
    <h1 class="display-4">What's the Weather?</h1>
    <p>Get the latest weather forecast for your upcoming race...</p>
</div>

<div>
    <div class="container-fluid d-flex justify-content-center p-4">
        <div class="card">
            <h6 class="card-header">@Model.RaceName, @Model.RaceYear</h6>
            <div class="card-body">
                <p class="card-text">Starting at: <i>@Model.Race.Start</i></p>
                <p class="card-text">Target Race Duration: <i>@Model.RaceDuration</i></p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center p-2">
        <div class="card">
            <h6 class="card-header">Current Trend</h6>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr style="vertical-align: middle;">
                            <td><b>Time</b></td>
                            <td><b>km</b></td>
                            <td><b>Name</b></td>
                            <td><b>Weather</b></td>
                            <td colspan="2">
                                <b>Temperature [°C]</b>
                            </td>
                            <td colspan="2">
                                <b>Precipitation</b>
                                <br>
                                <div style="display: flex; justify-content: space-between;">
                                    <div>[mm]</div>
                                    <div>[%]</div>
                                </div>
                            </td>
                            <td><b>Quality</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kvp in Model.Forecast)
                        {
                            <tr style="vertical-align: middle;">
                                <td>@kvp.Value.Time.TimeOfDay.ToString("hh\\:mm")</td>
                                <td>@kvp.Value.Km</td>
                                <td>@kvp.Key</td>
                                @{
                                    var img = Url.Content($"~/images/meteoblue/{@kvp.Value.Data.Pictocode:D2}_iday.png");
                                    var minTemp = Math.Round(@kvp.Value.Data.TemperatureMin, 0);
                                    var maxTemp = Math.Round(@kvp.Value.Data.TemperatureMax, 0);
                                    var qColor = @qualityColorMap[@kvp.Value.Data.PredictabilityClass];
                                }
                                <td><img src="@img" style="width: 3rem;"></td>
                                <td style="color: blue;">@minTemp</td>
                                <td style="color: red;">@maxTemp</td>
                                <td>@kvp.Value.Data.Precipitation</td>
                                <td>@kvp.Value.Data.PrecipitationProbability</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @kvp.Value.Data.Predictability%; background-color:@qColor" aria-valuenow="@kvp.Value.Data.Predictability" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>